/* ***** View ProductList ***** */
.sapMListTblCell.sapRTSTOrdProdColumnProductTable {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.sapRTSTOrdProdLabelReviewUrgency { 
	font-size: 0.7rem;
}

.sapRTSTOrdProdLabelPromotion { 
	font-size: 0.7rem;
}

html:not([dir=rtl]) .sapMListTblCell. sapRTSTOrdProdColumnProductTable.sapRTSTOrdProdColumnProductTableQuantity {
	padding-right: 0rem;
}

html[dir=rtl] .sapMListTblCell. sapRTSTOrdProdColumnProductTable.sapRTSTOrdProdColumnProductTableQuantity {
	padding-left: 0rem;
}

.sapRTSTOrdProdTitle {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

/* ***** View ProductDetails ***** */
.sapMFlexBox.sapRTSTOrdProdVBoxQuantity {
	margin-top: 1rem;
	padding-top: 1rem;
}

/* Add margin to the items of the Quantity VBox; margin on the VBox itself causes trouble */
html:not([dir=rtl]) .sapMFlexBox.sapRTSTOrdProdVBoxQuantity>.sapMFlexItem {
	margin-right: 1rem;
}

html[dir=rtl] .sapMFlexBox.sapRTSTOrdProdVBoxQuantity>.sapMFlexItem {
	margin-left: 1rem;
}

.sapMPanel.sapRTSTOrdProdPanelCalendar .sapRTSTOrdProdPanelHeaderToolbar .sapRTSTOrdProdPanelHeaderTitle>span {
	font-size: 1rem;
}

/* Replace the padding on the left and right side of the panel content by margin to be aligned with the price details form */
.sapMPanel.sapRTSTOrdProdPanelCalendar .sapMPanelContent {
	padding-left: 0;
	padding-right: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}

/* Adjust the text above the calendar containing the current month */
.sapMPanel.sapRTSTOrdProdPanelCalendar .sapMText.sapRTSTOrdProdTextCalendarMonth {
	padding-bottom: 0.5rem;
}


/* For phones: reduce the height of the table header line */
.sap-phone .sapRTSTOrdProdTableCalendar .sapMListTblHeader {
	height: 2rem;
}

/* For phones: vertically align the column headers */
.sap-phone .sapRTSTOrdProdTableCalendar .sapMListTblHeader .sapMListTblCell {
	vertical-align: middle;
}

.sap-phone .sapMPanel.sapRTSTOrdProdPanelCalendar .sapMPanelBG.sapMPanelContent {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.sap-phone .sapMOH.sapRTSTOrdProdObjectHeader .sapMOHBottomRow {
	margin-top: 0.5rem;
}

.sap-phone .sapMOH.sapRTSTOrdProdObjectHeader .sapMOHAttrRow {
	margin-top: 0.125rem;
}

.sap-phone .sapMFlexBox.sapRTSTOrdProdVBoxQuantity {
	margin-top: 0;
}

.sap-phone .sapMOH.sapRTSTOrdProdObjectHeader {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

html:not([dir=rtl]).sap-phone .sapMOH.sapRTSTOrdProdObjectHeader {
	margin-right: 0;
}

html[dir=rtl].sap-phone .sapMOH.sapRTSTOrdProdObjectHeader {
	margin-left: 0;
}

/* Reduce the font size of the form title */
.sapRTSTOrdProdForm .sapUiFormTitle.sapUiFormTitleH4 {
	font-size: 1rem;
}

/* Add margin to promotion link in order to separate the promotions from each other */
.sapRTSTOrdProdLinkPromotionName {
	margin-top: 0.5rem;
}

/* Add the margin to the label as well */
.sapMLabel.sapRTSTOrdProdLabelPromotionName {
	margin-top: 0.5rem;
}

/* Product Detail: Exceptions */
/* Add additional margin for the panel header of the exception list to be aligned to the other headers */
.sapMPanel.sapRTSTOrdProdPanelExceptions .sapMPanelHdr {
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1rem;     
}
.sap-phone .sapMPanel.sapRTSTOrdProdPanelExceptions .sapMPanelHdr {
	padding: 0rem;
}
  
/* Replace the padding on the left and right side of the panel content by margin to be aligned with the price details form */
.sapMPanel.sapRTSTOrdProdPanelExceptions .sapMPanelContent{
	padding: 0rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

/* Align font of list to other elements */
.sapMPanel.sapRTSTOrdProdPanelExceptions .sapMSLITitleOnly{
	font-size: 1.0rem; 
	white-space: pre-line;
	word-wrap: break-word;
}
.sap-phone .sapRTSTOrdProdPanelExceptions .sapMSLITitleOnly  {
	font-size: 0.875rem;   
}
.sapRTSTOrdProdPanelExceptions .sapMSLI {
    height: auto;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}